// // normalize css
// @import "node_modules/modern-normalize/modern-normalize.css";
// utils
@import "base/fonts";
@import "utils/main";
// defaults
@import "base/defaults";
// footer
@import "components/footer";
// portfolio
@import "components/portfolio";
// backdrop
@import "components/backdrop";
// backdrop modal form
@import "components/backdrop-modal-form";

/* navigation */
.header {
  background-color: $bg-color-white;

  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.main-nav__logo {
  margin-right: 90px;

  color: $logo-text-black;

  font-family: $sec-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $cubic-bezier;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: $accent-color;
}

.site-nav__link--current {
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;

  background: $accent-color;
  content: "";

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;

  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $cubic-bezier;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: $accent-color;
}

.auth-nav__icon {
  margin-right: 10px;
}

.auth-nav__icon--envelope {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--smartphone {
  width: 10px;
  height: 16px;
}

/* hero  */
.hero {
  max-width: 1600px;
  height: 600px;

  background-position: center;
  background-color: $bg-hero;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);

  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

.hero__title-box {
  width: 696px;
  margin: 0 auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $white-text-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  background-color: $accent-color;
  color: $white-text-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  outline: 0;

  transition-property: color, background-color, border, box-shadow;
  transition-duration: $duration;
  transition-timing-function: $cubic-bezier;
}

.hero__button:hover,
.hero__button:focus {
  background-color: $bg-color-white;
  color: $accent-color;

  border: 1px solid $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12) inset;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $bg-color-white;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $primary-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__title--centred {
  text-align: center;
}

/* feautures  */
.feautures {
  display: flex;
}

.feautures__icon-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: $bg-color-secondary;

  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.feautures__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.feautures__item + .feautures__item {
  margin-left: 30px;
}

.feautures__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $primary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feautures__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}
/* description */
.description {
  padding-top: 0;
  padding-bottom: 94px;
}

.description__list {
  display: flex;
}

.description__item:not(:first-child) {
  margin-left: 30px;
}

.description__image {
  width: 100%;
}

.description__thumb {
  position: relative;
  display: block;
}

.description__actions {
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: $white-text-color;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
}

.description__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* our team */
.our-team {
  background-color: $bg-color-secondary;
  line-height: 1.19;
}

.our-team__list {
  display: flex;
}

.our-team__item:not(:first-child) {
  margin-left: 30px;
}

.our-team__container {
  padding-top: 0;
  padding-bottom: 30px;

  background-color: $bg-color-white;

  min-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.our-team__title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 16px;
}

.our-team__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
}

/* Social network */

.social-network {
  display: inline-flex;
}
.social-network--margined {
  margin-right: 32px;
  margin-left: 32px;
}

.social-network--wrapped {
  margin-left: 70px;
}

.social-network__thumb {
  display: inline-flex;

  width: 44px;
  height: 44px;
}

.social-network__thumb:not(:first-child) {
  margin-left: 10px;
}

.social-network__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-network__link--gray {
  color: $social-link-color;

  transition-property: color, background-color;
  transition-duration: $duration;
  transition-timing-function: $cubic-bezier;
}

.social-network__link--gray:hover,
.social-network__link--gray:focus {
  background-color: $accent-color;
  color: $white-text-color;
}

.social-network__link--white {
  color: $white-text-color;
  background-color: $bg-footer-icon;

  transition-property: background-color;
  transition-duration: $duration;
  transition-timing-function: $cubic-bezier;
}

.social-network__link--white:hover,
.social-network__link--white:focus {
  background-color: $accent-color;
}

.social-network__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: $main-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
